@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
  background-color: black;
}